
.navLink{
    color:black;
    padding: 10px;
    text-decoration: none;
    position:relative;

}

.navLink:hover{
    color:white;
}

.navbar{
    display:grid;
    justify-content: center;
    position:relative;
    top:70%;

}