.navbar-user-utils-icon {
  margin: 0;
  display: inline;
  padding: 20px;
}

.navbar-user-utils-icon:hover {
  color: white;
  cursor: pointer;
}

.navbar-user-utils {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  max-height: 65px;
}
